.sbutton{
    margin-top: 10px;
    margin-left: 150px;
    background-image: url('../imgs/web/page/container/buttons/sbbg.png');
    width: 102px;
    height: 21px;
    text-align: left;
    cursor: pointer;
    border: none;
    text-align: center;
}

.sbutton div{
    padding-top: 2px;
    background-color: transparent;
    border: none;
    margin-left: 18px;
    width: 80px;
    height: 20px;
    max-width: 140px;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #363636;
    text-shadow: #ffffff 0px 1px 1px;
    cursor: pointer;
}

.sbutton input{
    background-color: transparent;
    border: none;
    margin-left: 18px;
    width: 80px;
    height: 20px;
    max-width: 140px;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #363636;
    text-shadow: #ffffff 0px 1px 1px;
    cursor: pointer;
}

.bbutton{
    margin-left: 35px;
    background-image: url('../imgs/web/page/container/buttons/bbbg.png');
    width: 179px;
    height: 21px;
    text-align: left;
    cursor: pointer;
    
}

.bbutton div{
    margin-left: 30px;
    padding-top: 2px;
    width: 150px;
    height: 3px;
    max-width: 140px;
    font-family: sans-serif;
    font-size: 12px;
    color: #6d7072;
    text-shadow: #ffffff 0px 1px 1px;
    
}




hr{
    padding: 0px;
    margin: 0px;
}

.block{
    margin-top: 15px;
}

.shareimages{
    margin: 10px;
    height: 136px;
    cursor: pointer;
}

.blocktext{
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
    font-family: sans-serif;
    font-size: 12px;
    color: #6d7072;
    text-transform: capitalize;
    text-shadow: #ffffff 0px 1px 1px;
    max-height: 40px;
    overflow: hidden;
}

#shareblock .blockcontainer{
    background-image: url('../imgs/web/page/container/blockline.jpg');
    background-repeat: repeat-x;
    margin: 0px;
    width: 265px;
    height: 250px;
    overflow: hidden;
}


#sponsorsblock .blockcontainer{
    width: 265px;
    height: 230px;
    overflow: hidden;
}

.sponsors{
    width: 265px;
    height: 230px;
}


.input{
    margin-top: 1px;
    margin-left: 15px;
    width: 182px;
    height: 18px;
    background-image: url('../imgs/web/page/container/inputbg.png');
    background-repeat: no-repeat;
}

.inputtitle{
    margin-top: 5px;
    margin-left: 18px;
    font-family: sans-serif;
    color: #6D7072;
    font-size: 12px;
    text-shadow: #ffffff 0px 1px 1px;
    
}

.input input{
    margin-left: 6px;
    width: 170px;
    height: 18px;
    font-family: sans-serif;
    font-size: 11px;
    color: #363636;
    text-decoration: none;
    border: none;
    font-style: italic;
    background-color: transparent;
    outline: none;
}


.blocktitle{
    background-image: url('../imgs/web/page/container/blocktitle.png');
    width: 267px;
    height: 34px;
}

.blocktitletext{
    margin-top: 10px;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #363636;
    text-shadow: #ffffff 0px 1px 1px;
    width: 267px;
    float: left;
}

.blocktitlefog{
    left: 0px;
    position: relative;
    background-image: url('../imgs/web/page/container/blocktitlefog.png');
    width: 267px;
    height: 34px;
}

.blockcontainer{
    margin-top: 10px;
    width: 265px;
    min-height: 85px;
    max-height: 275px;
    border: 1px solid #E3E3E3;
    background-color: #FBFBFB;
}


.sidebuttons{
    text-align: center;
    padding: 5px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #6D7072;
    text-shadow: #ffffff 0px 1px 1px;
    
}

.sidebuttons:hover{
    background-color: white;
    font-weight: bold;
    font-size: 11px;
    color: #6D7072;
    
}


.button{
    margin-left: 150px;
    color: #363636;
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: url('../imgs/web/page/container/buttons/sbg.png');
    width: 99px;
    height: 23px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-shadow: #ffffff 0px 1px 1px;
}

.buttonicon{
    background-image: url('../imgs/web/page/container/buttons/types/next.png');
    background-repeat: no-repeat;
    width: 10px;
    height: 15px;
}

.buttontext{
    margin-left: 30px;
    padding-top: 3px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #363636;
    text-shadow: #ffffff 0px 1px 1px;
}

#logininputs{
    margin-top: 18px;
}

#loginhotlinks{
    width: 130px;
    position: relative;
    top: -10px;
    text-align: left;
    padding-left: 15px;
}

#userhotlinks{
    padding: 10px;
    text-align: left;
}
#userhotlinks .hotlinks{
    padding: 2px;
}

.hotlinks{
    font-family: sans-serif;
    font-size: 12px;
    color: #45a8e9;
    text-transform: capitalize;
}

.hotlinks:hover{
    text-decoration: underline;
    cursor: pointer;
}

.hotlinkicon{
    margin-left: 5px;
    margin-right: 10px;
    text-decoration: none;
    float: left;
}
