body{
    padding: 0px;
    padding-top: 20px;
    margin: 0px;
}
.title{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
    background-image: url('../imgs/web/page/container/titleline.jpg') ;
    height: 25px;
    color: white;
    text-shadow: #a0a1a1 1px 0px 1px;
    text-align: center;
}
.text{
    font-family: sans-serif;
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}
.align{
    text-align: right;
}
.border{
    text-align: right;
    border: 1px solid #e5e5e5;
    padding: 5px;
}
.color{
    color: red;
}
.repair{
    font-family: sans-serif;
    font-size: 12px;
    padding-top: 5px;
}
.bckr1{
    text-align: center;
    border: 1px solid #e5e5e5; 
}
.bckr2{
    text-align: right;
    border: 1px solid #e5e5e5;
    padding-right: 4px;
}
#pav{
    text-align: right;
    margin-top: 21px;
    width: 280px;
    float: right;
    height: 30px;
    background-color: #E1E1E1;
    color: #6D7072;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12pt;
    border: 1px solid #e5e5e5;
    border-right: none;
    text-shadow: #ffffff 0px 1px 1px;
    margin-bottom: 20px;
    
}
#pav div{
    background-image: url('../imgs/web/page/container/apple.png');
    background-repeat: no-repeat;
    position: relative;
    top: 3px;
    left: 20px;
    width: 16px;
    height: 25px;
    border: none;
    
}

#pav label{
    position: fixed;
    padding-left: 137px;
    top: 49px;
    left: 222px;
}
#pav2{
    text-align: right;
    margin-top: 21px;
    width: 280px;
    float: right;
    height: 30px;
    background-color: #E1E1E1;
    color: #6D7072;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12pt;
    border: 1px solid #e5e5e5;
    border-right: none;
    text-shadow: #ffffff 0px 1px 1px;
    margin-bottom: 20px;
    
}
.div{
    background-image: url('../imgs/web/page/container/apple.png');
    background-repeat: no-repeat;
    position: relative ;
    top: 3px;
    left: 20px;
    width: 16px;
    height: 25px;
    border: none;
    
}

.label{
    position: relative;
    padding-top: 4px;
    top: 0px;
    left: 0px;
    width: 184px;
}
.repairing{
    padding-left: 215px;
}