input{
    outline: none;
}

a{
   outline: none;
}

.carttitle{
    background-color: #F9F9F9;
    font-weight: bold;
    font-size: 10pt;
    background-image: url('../imgs/web/page/container/titleline.jpg');
    height: 25px;
    color: white;
    text-shadow: #a0a1a1 1px 0px 1px;
    text-align: center; 
}
.carttitle2{
    background-color: #F9F9F9;
    font-weight: bold;
    font-size: 10pt;
    background-image: url('../imgs/web/page/container/titleline.jpg');
    height: 25px;
    color: white;
    text-shadow: #a0a1a1 1px 0px 1px;
    text-align: right; 
    padding-right: 8px;
}
.input{
    margin-right: 7px;
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: none;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 10px;
    padding-top: 5px;
    width: 20px;
}
.inputimg{
    background-image: url('../imgs/web/page/container/smallinputbg.png');
    background-repeat: no-repeat;
    
    width: 40px;
    height: 18px;
   
}
.right{
    position: relative;
    right: 0px;
}
.move{
    padding-top: 5px;
    padding-right: 6px;
}
.deleteallimg{
    background-image: url('../imgs/web/page/container/buttons/sbg.png');
    background-repeat: no-repeat;
    background-color: white;
    width: 99px;
    height: 23px;
    
}
.font{
    font-family: sans-serif;
}
.image{
    margin: 3px;
}
.name{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 10pt;
}

.recountimg{
    background-image: url('../imgs/web/page/container/buttons/sbg.png');
    background-repeat: no-repeat;
    background-color: white;
    border: 0px;
    width: 99px;
    height: 23px;
    
}
.buttontext{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 8pt;
    color: #363636;
    text-shadow: #ffffff 0px 1px 1px;
    cursor: pointer;
    text-decoration: none;
}

.delete{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 8pt;
    color: red;
    text-shadow: #ffffff 0px 1px 1px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 26px;
}

.costsize{
    font-size: 11px;
}
