a{
   outline: none;
}

hr{
    padding: 0px;
    margin: 0px;
}

body{
    padding: 0px;
    margin: 0px;
}

#itemcategorys{
    height: 150px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #6d7072;
}

.hotlinkicon{
    border: 1px solid white;
    position: relative;
    width: 16px;
    height: 22px;
    background-image: url('../imgs/web/page/container/apple.png');
    background-repeat: no-repeat;
    float: left;
}

#itemcategorystitle{
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    writing-mode:tb-rl;
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-o-transform: rotate(-90deg);
	white-space:nowrap;
	display:block;
}

#categoryimg{
    overflow: hidden;
}

#categorytext{
    padding-left: 20px;
    text-align: left;
    font-weight: normal;
    font-size: 10px;
    color: #6d7072;
    cursor: pointer;
}

.categorys:hover{
    color: black;
}

/*
#aboutitemcategorytytle{
    padding-top: 5px;
    color: #6d7072;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
    padding-left: 450px;
}
*/
#aboutitemcategory{
    margin: 10px;
    text-align: right;
    color: #6d7072;
    padding: 10px;
    vertical-align: middle;
    font-family: sans-serif;
    text-shadow: #ffffff 0px 1px 1px;
    font-size: 10px;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    width: 560px;
    background-color: #F9F9F9;
    
}

.itemimg img{
    max-width: 130px;
}

#goods td img:hover{
    cursor: pointer;
}

.itemblock{
    background-image: url('../imgs/web/page/container/blockline.png');
    background-repeat: repeat-x;
    padding: 10px;
    overflow: hidden;
    border: 1px solid #E5E5E5;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 9pt;
    color: #010101;
}

.itemtext{
    padding: 5px;
}
.itemimg{
    text-align: center;
}

.cost{
    font-weight: lighter;
    text-decoration: line-through;
    color: black;
    
}
.share{
    color: red;
    font-size: 11pt;
    
}