body{
    padding: 0px;
    margin: 0px;
}

.sbutton{
    margin-top: 10px;
    margin-left: 150px;
    background-image: url('../imgs/web/page/container/buttons/sbbg.png');
    width: 102px;
    height: 21px;
    text-align: left;
    cursor: pointer;
    border: none;
    text-align: center;
}

.sbutton div{
    padding-top: 2px;
    background-color: transparent;
    border: none;
    margin-left: 18px;
    width: 80px;
    height: 20px;
    max-width: 140px;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #363636;
    text-shadow: #ffffff 0px 1px 1px;
    cursor: pointer;
}

#homeinfo{
    border: solid 1px #E5E5E5;
    background-color: white;
}

#homecontainer{
    width: 598px;
    height: 280px;
    overflow: hidden;
}

.slidemenuimgs{
    position: relative;
    cursor: pointer;
    max-width: 580px;
}

#hometitle{
    background-image: url('../imgs/web/page/container/hometitlebg.jpg');
    background-repeat: repeat-x;
    height: 34px;
    width: 598px;
    text-align: center;
}

.slidemenubuttons{
    margin-left: 13px;
    cursor: pointer;
    height: 22px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #526685;
    
}

.slidemenubuttons b{
    position: relative;
    top: 3px;
    padding: 2px;
}

.slidemenubuttons:hover{
    color: black;
}

.slidemenubuttonsactive{
    background-image: url('../imgs/web/page/container/hometitlebuttonbg.png');
}

.news{
    margin-top: 11px;
    border: 1px solid #DEDEDE;
    width: 292px;
    height: 280px;
    background-image: url('../imgs/web/page/container/blockline.jpg');
    background-repeat: repeat-x;
}

.newscontainer img{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 245px;
}

.newsdate{
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 0px;
    font-family: sans-serif;
    font-size: 12px;
    color: #0893EF;
    font-weight: bold;
}

.newstitle{
    padding-left: 20px;
    font-family: sans-serif;
    font-size: 18px;
}

.newsteaser{
    padding-left: 20px;
    padding-right: 20px;
    font-family: sans-serif;
    font-size: 12px;
    color: #6d7072;
    line-height: 12px;
    height: 35px;
}

.newsbutton{
    margin-left: 165px;
    color: #363636;
    margin-top: 15px;
    background-image: url('../imgs/web/page/container/buttons/sbg.png');
    width: 99px;
    height: 23px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-shadow: #ffffff 0px 1px 1px;
}

.newsbutton b{
    position: relative;
    top: 4px;
    left: 30px;
}
