a{
   outline: none;
}
body{
    padding: 0px;
    margin: 0px;
    background-color: white;
}

#headerbg{
    width: 100%;
    background-color: black;
}

#header{
    background-image: url('../imgs/web/background/header.jpg');
    width: 1000px;
    height: 224px;
}

#logo{
    background-image: url('../imgs/web/logo/logo.png');
    background-repeat: no-repeat;
    width: 1000px;
    height: 227px;
}

#cart{
    width: 100px;
    height: 20px;
    background-color: black;
    color: white;
    right: 0px;
    position: relative;
    top:200px;
    cursor: pointer;
}


#container{
    width: 100%;
    background-image: url('../imgs/web/background/container/line.jpg');
    background-repeat: repeat-x;
    margin-bottom: 20px;
}

#leftside{
    width: 57px;
    height: 476px;
    background-image: url('../imgs/web/background/container/left.jpg');
    float: left;
    background-repeat: no-repeat;
}

#page{
    background-image: url('../imgs/web/page/container/blockline.jpg');
    background-repeat: repeat-x;
    background-color: white;
    width: 900px;
    height: 900px;
}

#rightside{
    width: 44px;
    height: 476px;
    background-image: url('../imgs/web/background/container/right.jpg');
    background-repeat: no-repeat;
    
}

#footer{
    height: 80px;
}

#footer .hotlinks{
    padding: 5px;
}

.vline{
    font-family: sans-serif;
    font-size: 11px;
}

#help{
    top: 5px;
    position: relative;
    left: 110px;
}

#skype{
    background-image: url('../imgs/web/page/container/skype.png');
    width: 44px;
    height: 44px;
    float: left;
    cursor: pointer;
}

#number{
    float: left;
    background-image: url('../imgs/web/page/container/help.png');
    width: 143px;
    height: 43px;
}
#copyrights{
    font-family: sans-serif;
    font-size: 11px;
    color: #6D7072;
    text-shadow: #ffffff 0px 1px 1px;
}

#fog{
    z-index:1;
    display:none;
    background:#000000;
    opacity:0.6;
    width:100%;
    position:absolute;
    top:0px;
}

#popup{
    z-index:3;
    display:none;
    position:absolute;
}

#popupclose{
    float: left;
    background-image: url('../imgs/web/page/container/close.png');
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#popupcontainer{
    margin: 15px;
    background:#FFFFFF;
    width: 300px;
    height: 200px;
}