#menu-left{
    background-image: url('../imgs/web/page/menu2/left.png');
    background-repeat: no-repeat;
    width: 11px;
    height: 44px;
}

#menu-mid{
    background-image: url('../imgs/web/page/menu2/mid.png');
    background-repeat: repeat-x;
    width: 880px;
    height: 44px;
}

#menu-right{
    background-image: url('../imgs/web/page/menu2/right.png');
    width: 11px;
    height: 44px;
    background-repeat: no-repeat;
    
}




#menu{
    float: left;
}

.buttonline{
    background-image: url('../imgs/web/page/menu/buttonline.png');
    width: 3px;
    height: 44px;
}

#homebutton{
    padding-bottom: 4px;
    padding-right: 5px;
    background-image: url('../imgs/web/page/container/shinyapple.png');
    background-repeat: no-repeat;
    width: 24px;
    height: 29px;
    cursor: pointer;
}

.menu-button{
    padding-left: 20px;
    padding-right: 20px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #363636;
    text-decoration: none;
    text-shadow: #bebebe 0px 1px 1px;
    letter-spacing: -1px;
}

.menu-button:hover{
    color: #FFFFFF;
    cursor:pointer;
    height: 10px;
    background-repeat: repeat-x;
    text-shadow: #000000 0px 1px 1px;
    background-image: url('../imgs/web/page/menu/buttonactive.png');
}

.menu-button-active{
    color: #FFFFFF;
    cursor:pointer;
    height: 10px;
    background-repeat: repeat-x;
    text-shadow: #000000 0px 1px 1px;
    background-image: url('../imgs/web/page/menu/buttonactive.png');
}



#search{
    margin-left: 305px;
    position: relative;
    width: 182px;
    height: 18px;
    background-image: url('../imgs/web/page/container/inputbg.png');
    background-repeat: no-repeat;
}

#searchicon{
    cursor: pointer;
    margin-left: 7px;
    margin-top: 5px;
    width:11px;
    height: 11px;
    float: left;
    background-image: url('../imgs/web/page/container/icons/search.png');
}

#search input{
    margin-left: 5px;
    width: 153px;
    height: 18px;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #363636;
    text-decoration: none;
    border: none;
    background-color: transparent;
    outline: none;
}