#page{
    position: relative;
    top: 20px;
    width: 900px;
    height: 1200px;
    background-image: url('../imgs/web/page/background.png');
    background-repeat: repeat-x;
    background-color: white;
    
}