body{
    min-height: 300px;
    max-height: 1000px;
}

input{
    outline: none;
    border: none
}

a{
   outline: none;
}

.name{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12pt;
    text-align: left;
}

.about{
    padding: 5px;
    text-align: left;
    font-family: sans-serif; 
    font-size: 9pt;
}

.cost{
    padding: 10px;
    font-family: sans-serif;
    text-decoration: line-through;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 11pt;
}

.sharecost{
    font-family: sans-serif;
    font-weight: bold;
    color: red;
    font-size: 12pt;
}

#imgblock{
    width: 300px;
    height: 70px;
    border: 1px #e5e5e5 solid;
}

#imgblock img{
    cursor: pointer;
}

.imgcontainer{
    margin: 5px;
    float: left;
}

#input{
    background-image: url('../imgs/web/page/container/smallinputbg.png');
    background-repeat: no-repeat;
    margin: 3px;
    width: 40px;
    height: 18px;
    float: left;
    
}

#input input{
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 10px;
    width: 20px;
    margin-left: 13px;
    margin-top: 3px;
}


.button{
    background-color: transparent;
    border: none;
    vertical-align: middle;
    background-image: url('../imgs/web/page/container/buttons/sbg.png');
    width: 99px;
    height: 23px;
    cursor: pointer;
    text-shadow: #FFFFFF -1px 1px 1px;
    color: #2a2a2a;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 8pt;
    font-family: sans-serif;
}

.tick{
    height: 23px;
    background-image: url('../imgs/web/page/container/tick.png');
    background-repeat: no-repeat;
}

.ticktext{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    padding-top: 5px;
    padding-left: 25px;
}



