.pvz{
    font-family: sans-serif;
    font-style: italic;
    font-size: 10px;
    text-align: right;
    color: #A5A7A8;
    padding-right: 150px;
    padding-bottom: 9px;
    margin-top: 5px;
}
body{
    padding: 0px;
    padding-top: 50px;
    
    margin: 0px;
}

#regheader{
    
    height: 70px;    
}

#regtitle{
    text-align: left;
    margin-top: 20px;
    width: 250px;
    float: right;
    height: 30px;
    background-color: #F9F9F9;
    color: #6D7072;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12pt;
    border: 1px solid #e5e5e5;
    border-right: none;
    text-shadow: #ffffff 0px 1px 1px;
    margin-bottom: 20px;
    
}

#regtitle div{
    background-image: url('../imgs/web/page/container/apple.png');
    background-repeat: no-repeat;
    position: relative;
    top: 3px;
    left: 20px;
    width: 16px;
    height: 25px;
    border: none;
}

#regtitle label{
    position: relative;
    padding-left: 25px;
    top: 3px;
}

#advantiges{
    float: left;
    background-color: #F9F9F9;
    width: 400px;
    text-align: right;
    border: 1px solid #e5e5e5;
    border-left: none;
}

#advantigestytle{
    color: #575757;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12pt;
    text-decoration: none;
    margin: 0px;
    padding: 10px;
}

#advantigestext{
    text-shadow: #ffffff 0px 1px 1px;
    text-align: left;
    margin: 0px;
    padding: 10px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    list-style: none;
}

hr{
    margin: 5px;
}


.blocktitle{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 11pt;
    text-decoration: none;
    text-align: right;
    padding-top: 30px;
}

.line{
    background-color: #E5E5E5;
    height: 1px;
}

.inputtitle{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 9pt;
    text-decoration: none;
    text-align: right;
    padding: 2px;
    padding-right: 10px;
    display: block;
    margin: 2px;
}

#register .inputbg{
    background-image: url('../imgs/web/page/container/inputbg.png');
    background-repeat: no-repeat;
    width: 182px;
    height: 18px;
}

#register .input{
    margin-bottom: 0px;
    padding-left: 3px;
    border: none;
    width: 173px;
    height: 18px;
    outline: red;
    background: transparent;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 10px;
}

#submit{
    background-image: url('../imgs/web/page/container/buttons/sbg.png');
    background-repeat: no-repeat;
    background-color: white;
    border: 0px;
    width: 99px;
    height: 23px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 8pt;
    color: #363636;
    text-shadow: #ffffff 0px 1px 1px;
    cursor: pointer;
    text-decoration: none;
}