.img{
    height: 40px;
}
.image{
    height: 70px;
}
.edit{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
    background-image: url('../imgs/web/page/container/titleline.jpg') ;
    height: 24px;
    color: white;
    text-shadow: #a0a1a1 1px 0px 1px;
    text-align: center;
}
.edit1{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
    background-image: url('../imgs/web/page/container/titleline.jpg') ;
    height: 24px;
    color: white;
    text-shadow: #a0a1a1 1px 0px 1px;
    text-align: center;
}
.submit{
    background-image: url('../imgs/web/page/container/buttons/sbg.png');
    background-repeat: no-repeat;
    background-color: white;
    border: 0px;
    width: 99px;
    height: 23px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 8pt;
    color: #363636;
    text-shadow: #ffffff 0px 1px 1px;
    cursor: pointer;
    text-decoration: none;
}
.chooseimg{
    background-repeat: no-repeat;
    background-color: white;
    border: 0px;
    width: 172px;
    height: 23px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 8pt;
    color: #363636;
    text-shadow: #ffffff 0px 1px 1px;
    cursor: pointer;
    text-decoration: none;
}
.color{
    color: red;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 8pt;
}
.text{
    font-family: sans-serif;
    font-size: 13px;
}
textarea{
    min-width: 170px;
    min-height: 45px;
    max-width: 170px;
    max-height: 45px;
}
.border{
    border-top: 2px ridge #e5e5e5;
    border-bottom: 2px ridge #e5e5e5;
    padding-top: 7px;
    padding-bottom: 7px;
}
.border2{
    border-bottom:  2px ridge #e5e5e5;
}
.space{
    padding-top: 12px;
}
.buttonalign{
    text-align: center;
    width: 110px;
}
.field{
    border: 1px solid #e5e5e5;
    background-color: #EEEEEE;
    
}