.pvz{
    font-family: sans-serif;
    font-style: italic;
    font-size: 10px;
    text-align: right;
    color: #A5A7A8;
    padding-right: 125px;
    padding-bottom: 9px;
}
.border{
    border-bottom: 2px ridge #e5e5e5;
    padding-bottom: 6px;
}
.border2{
    border-bottom: 2px ridge #e5e5e5;
}
hr{
    margin: 5px;
}
body{
    padding: 0px;
    padding-top: 10px;
    
    margin: 0px;
}
#regtitle{
    text-align: right;
    margin-top: 20px;
    width: 400px;
    float: right;
    height: 30px;
    background-color: #F9F9F9;
    color: #6D7072;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12pt;
    border: 1px solid #e5e5e5;
    border-right: none;
    text-shadow: #ffffff 0px 1px 1px;
    margin-bottom: 20px;
}
#regtitle div{
    background-image: url('../imgs/web/page/container/apple.png');
    background-repeat: no-repeat;
    position: relative;
    top: 3px;
    left: 20px;
    width: 16px;
    height: 25px;
    border: none;
}

#regtitle label{
    position: fixed;
    padding-left: 25px;
    top: 38px;
    left: 215px;

}
.inputtitle{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 9pt;
    text-decoration: none;
    text-align: right ;
    padding: 2px;
    padding-right: 10px;
    display: block;
    margin: 2px;
}

.inputbg{
    background-image: url('../imgs/web/page/container/inputbg.png');
    background-repeat: no-repeat;
    width: 300px;
    height: 18px;
}

.button{
    background-image: url('../imgs/web/page/container/buttons/sbg.png');
    background-repeat: no-repeat;
    width: 99px;
    height: 23px;
       
}

.buttontext{
    border: none;
    background: transparent;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 11px;
    padding-left: 3px;
    margin-top: 5px;
    cursor: pointer;
}

.input{
    margin-bottom: 0px;
    padding-left: 3px;
    border: none;
    width: 173px;
    height: 18px;
    outline: red;
    background: transparent;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 10px;
}
#register .inputbg{
    background-image: url('../imgs/web/page/container/inputbg.png');
    background-repeat: no-repeat;
    width: 182px;
    height: 18px;
}

#register .input{
    margin-bottom: 3px;
    padding-left: 3px;
    border: none;
    width: 173px;
    height: 18px;
    outline: red;
    background: transparent;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 10px;
}
.line{
    border-top: 1px solid #e5e5e5;
}
